@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,800&display=swap");
:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --bg-color: #15142c;
  --bg-color--card: #222831;
  --main-text-color: #222831;
  --main-border-radius: 25px;
  --secondary-border-radius: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #16161a;
  font-family: "Montserrat", sans-serif;
}
